/* GENERAL */
/* Set the minimum height, the margins, padding and the background and font colour of the application. */
.App {
  min-height: 617px;
  max-height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
}

/* Removed the margins and the padding of the Bootstrap rows and columns. */
.col,
.row {
  padding: 0px !important;
  margin: 0px !important;
}

/* Set the size (height x width) of the row containers. */
.row-container {
  height: 424px;
  width: auto;
}

/* Set the right margin, the background colour and and added a gradient border around the buttons. */
.btn {
  margin-right: 4px;
  background: transparent !important;
  border-width: 3px !important;
  border-image: linear-gradient(to bottom right, #2feaff, #f676ff) 1 !important;
}

/* Set for the buttons' font colours to change once hovered over. */
.btn:hover,
.fa-trash-alt:hover {
  color: #2feaff !important;
}

/* Set the bottom margins of the h3 main headers. */
.h3-main-headers {
  margin-bottom: 15px;
}

/* NAVIGATION */
/* Set the bottom margin of the navigation bar. */
#navbar {
  margin-bottom: 25px;
}

/* Set the width of the navigation bar. */
.navbar-nav {
  width: 100%;
}

/* Set the logo's width. */
#logo {
  width: 200px;
}

/* Set the top margin of the navigation bar's dropdown button. */
.dropdown {
  margin-top: 20px !important;
}

/* Set the right margin of the user icon. */
.fa-user {
  margin-right: 5px;
}

/* Set the top padding and the left margin of the auth buttons' navigation container. */
#auth-nav-container {
  padding-top: 25px !important;
  margin-left: 40px !important;
}

/* Set for the user dropdown to float right and set the right margin. */
#dropdown-basic {
  float: right;
  margin-right: 20px !important;
}

/* Set the left and right margins of the h1 elements. */
.auth-h1 {
  margin-left: 10px;
  margin-right: 10px;
}

/* Set the height of the authentication buttons to fit the buttons' content and set the top margin. */
.auth-button {
  height: fit-content;
  margin-top: 5px !important;
}

/* LANDING PAGE */
/* Set the left margin of the intro paragraph. */
.intro-paragraph {
  margin-left: 56px !important;
  margin-right: 56px !important;
}

/* Set the height and the maximum width of the landing image. */
#home-img {
  height: auto;
  max-width: 475px;
}

/* Changed the font colour of the sample quiz's link. */
#sample-link {
  color: #2feaff;
}

/* Set the text decoration of sample quiz's link to none and for the font colour to change on hover. */
#sample-link:hover {
  text-decoration: none;
  color: #f676ff;
}

/* REGISTER/ LOGIN PAGES */
/* Set the width and margins of the authentication's input elements*/
.auth-input {
  width: 515px !important;
  margin-top: 30px;
  margin-bottom: 30px !important;
  margin-right: 0px !important;
}

/* Set the margins of the auth content section. */
.auth-content {
  margin: auto !important;
}

/* HOME PAGE */
/* Set the left padding of the ordered list element. */
ol,
ul {
  padding-left: 18px !important;
}

/* Set the top and bottom padding of the (ordered list) listed instructions. */
ol li {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Set the size (height x width), the position to relative (to allow for the overlay effect), the top and bottom margins, the padding, the background 
colour and added a gradient border around the topic cards. */
.topic-card {
  height: 250px;
  width: 250px !important;
  position: relative;
  margin-top: 5px;
  margin-bottom: 20px !important;
  padding: 15px;
  background: transparent !important;
  border-width: 3px !important;
  border-image: linear-gradient(to bottom right, #2feaff, #f676ff) 1 !important;
}

/* Set for the cursor to change to a pointer once the topic card is hovered over. */
.topic-card:hover {
  cursor: pointer;
}

/* Set for the topic card's image to display as a block and set the margins and width. */
.topic-image {
  display: block;
  margin: auto;
  width: 100%;
}

/* Set for the topic card's image overlay to display as flex in a column direction, set the position to absolute and aligned it to the top-left 
corner (to allow for the overlay over the image). Also set the size (height x width), justified and aligned it to the center and set the 
background colour. Set the opacity to 0 so that it initially does not display and set for it to transition over a period of 25 seconds.*/
.topic-image-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #00000099;
  opacity: 0;
  transition: opacity 0.25s;
}

/* Set for the children of the overlay to initially be positioned 20px below the intended position and to transition
to the intended position over a period of 25 seconds. */
.topic-image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

/* Set for the opacity of the overlay to be "removed/ cleared" and for the overlay to be shown once the card's image
is hovered over. */
.topic-image-overlay:hover {
  opacity: 1;
}

/* Set for the overlay's children to be "raised" from 20px to 0px once the image is hovered over. */
.topic-image-overlay:hover > * {
  transform: translateY(0);
}

/* Added a backdrop filter for the images to be blurred once the image is hovered over. */
.topic-image-overlay-blur {
  backdrop-filter: blur(2px);
}

/* Set the font size of the topic card's title. */
.topic-title {
  font-size: 3em !important;
}

/* Set the top margin of the Code option's subcategories. */
#code-sub-categories {
  margin-top: 0px !important;
}

/* Set the top and right margins of the ready text of the checkbox. */
.ready-text {
  margin-right: 30px;
}

/* Set the top margin of the checkbox and for the cursor to change on hover. */
.form-check-input {
  margin-top: 6px !important;
  cursor: pointer;
}

/*  Set for the background to change to a gradient background, as well as for the font colour and weight to change once the difficulty is 
selected. */
.difficulty-button:focus {
  background: #000000 !important;
  background: radial-gradient(circle, #2feaffa6 38%, #00d4ff00 100%) !important;
  color: #f676ff !important;
  font-weight: bold !important;
}

/* Set the top margin, border radius and the border (none) of the "Go!" button and implemented a gradient background (coloured, styled). */
.go-button {
  background-image: linear-gradient(
    to bottom right,
    #2feaff,
    #f676ff
  ) !important;
  border: none !important;
  border-radius: 25% !important;
  margin-top: 7px;
}

/* QUESTIONNAIRE PAGE */
/* Set the text alignment of the "Questionnaire" page's heading. */
.quiz-component-header {
  text-align: center !important;
}

/* Set the margins, padding, background colour and text alignment of the question/ answer cards. Also added a gradient border (coloured, sized 
and) gradient direction set). */
.question-card {
  margin: 20px auto;
  padding: 15px;
  background: transparent !important;
  border-width: 3px !important;
  border-image: linear-gradient(to bottom right, #2feaff, #f676ff) 1 !important;
  text-align: center;
}

/* Set for the background to change to a gradient background once the answer is selected. */
.selected-answer {
  background: #000000 !important;
  background: radial-gradient(
    circle,
    #000000 18%,
    #2feaff 38%,
    #00d4ff00 100%
  ) !important;
}

/* Set for the font colour to change once a correct answer is selected. */
.correct-answer {
  color: #36ff2f !important;
}

/* Set for the font colour to change once an incorrect answer is selected. */
.incorrect-answer {
  color: #ff2f2f !important;
}

/* .swal2-modal {
  background: #000000 !important;
  color: #ffffff !important;
} */

/* DASHBOARD */
/* Set the top margin and the font colour of the dashboard table. */
#dashboard-table {
  margin-top: 20px;
  color: #ffffff;
}

/* Centered the remove button area's text. */
#remove-button {
  text-align: center;
}

/* Set for the cursor to change to a pointer once the remove button is hovered over. */
.fa-trash-alt {
  cursor: pointer !important;
}

/* --- FOOTER --- */
/* Set the footer's position and aligned it to be centered at the bottom of the page. */
.footer {
  position: relative;
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

/* Set the font colour and weight, the top padding and the margins of the footer's header text. */
#footer-header {
  margin: 5px auto !important;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 325px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

/* Set the font colour and right margin of the footer's heart icon. */
.fa-heart {
  color: #f676ff;
  margin-right: 3px;
}
